Source: q4os-welcome
Section: system
Priority: optional
Maintainer: Q4OS_Team <devteam@q4os.org>
Build-Depends: debhelper (>= 9~), tdelibs14-trinity-dev, q4os-api, q4os-api-dev
Standards-Version: 3.8.4

Package: q4os-welcome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, q4os-api (>= 4.3.1-a1), q4os-cpuq, q4os-welcome-common
Recommends:
Conflicts:
Replaces:
Breaks:
Description: Q4OS welcome screen based on TDE libraries.

Package: q4os-welcome-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
Conflicts: q4os-welcome (<< 4.2.1)
Replaces:
Breaks:
Description: Q4OS welcome screen common files.
