[Desktop Entry]
Name[de]=Q4OS-Willkommensbildschirm
Name[es]=Pantalla de Bienvenida Q4OS
Name[es_AR]=Pantalla de bienvenida de Q4OS
Name[hu]=Q4OS Üdvözlő Képernyő
Name[it]=Schermata di Benvenuto Q4OS
Name[nl]=Q4OS-welkomstscherm
Name[pl]=Ekran Powitalny Q4OS
Name[pt]=Ecrã de boas-vindas Q4OS
Name[pt_BR]=Ecrã de boas-vindas Q4OS
Name[ru]=Экран приветствия Q4OS
Name=Q4OS Welcome Screen
# GenericName=Q4OS Welcome Screen
# Comment=Q4OS Welcome Screen
Exec=/usr/bin/welcome-screen5.exu
Icon=welcome-screen
Type=Application
Categories=System;
StartupNotify=false
# Terminal=false
# TerminalOptions=
OnlyShowIn=KDE;LXQt;
X-TDE-autostart-phase=2
X-TDE-autostart-after=panel
# X-TDE-autostart-condition=q4welcomescreenrc:General:Autostart:false
X-KDE-autostart-phase=2
X-KDE-autostart-after=panel
# X-KDE-autostart-condition=q4welcomescreenrc:General:AutoStart:false
X-LXQt-Need-Tray=true
# NoDisplay=true
